.welcome {
  background-color: #a210f2;
  display: flex;
  align-items: center;
  width: 1170px;
  flex-direction: row-reverse;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 100px;
}
.welcome-left {
  text-align: left;
  width: 490px;
}
.welcome-left p {
  color: white;
  font-size: 30px;
  margin: 0;
}
.welcome-left h1 {
  font-size: 80px;
  color: #76fbd2;
  font-weight: normal;
  font-family: "M PLUS 1 Code", sans-serif;
  margin: 0;
  line-height: 100%;
}
.welcome-left span {
  font-size: 18px;
  margin: 20px 0;
  display: block;
  color: white;
}
.mint-nft {
  background-color: #f73233;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  border-radius: 30px;
  width: 300px;
  height: 60px;
}
@media screen and (max-width: 1200px) {
  .welcome {
    width: 80%;
    padding-top: 50px;
  }
  .welcome img {
    width: 350px;
  }
  .welcome {
    margin-top: 0;
  }
}
@media screen and (max-width: 990px) {
  .welcome img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    align-items: center;
    width: 100%;
    padding-top: 20px;
    flex-direction: column;
  }
  .welcome-left {
    width: 90%;
  }
  .welcome img {
    width: 90%;
    height: 90%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 576px) {
}
