.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.commounity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 1170px;
  margin: 0 auto;
  background-color: #a210f2;
}
.commounity p {
  color: white;
  font-style: italic;
  font-style: 18px;
}
.commounity h3 {
  color: #76fbd2;
  font-size: 36px;
  margin: 0;
}
.join {
  background-color: #f73233;
  color: white;
  width: 400px;
  font-size: 24px;
  height: 60px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .commounity {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .commounity {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .App h1 {
    font-size: 42px !important;
  }
  .join {
    width: 90%;
    font-size: 18px;
  }
}
